apiVersion: v1
kind: PersistentVolume
metadata:
  name: clientvaultcrm-server-pv
  namespace: clientvaultcrm
spec:
  storageClassName: default
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
