name: CD deploy main

permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  deploy-main:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.CLIENTVAULT_INFRA_TOKEN }}
          repository: clientvaulthq/clientvault-infra
          event-type: auto-deploy-main
          client-payload: '{"github": ${{ toJson(github) }}}' # Passes the entire github context to the downstream workflow
